* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100wh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ccc;
}
.form {
    margin-top: 1rem;
}
input {
    margin: 1rem 0;
    padding: 1rem;
    width: 500px;
}
.container {
    background: #333;
    padding: 1.5rem;
    border-radius: 5px;
    color: white;
}
button {
    padding:0.5rem 1.5rem;
    transition: 0.7s ease;
}
button:hover {
    background: #ccc;
}
h2 {
    color: dodgerblue;
}